{{ with .Params.faqs }}
  {{ $faqList := slice }}

  {{ range . }}
    {{ $question := strings.TrimSpace .question }}
    {{ $answer := .answer | markdownify | plainify | strings.TrimSpace }}

    {{ if and $question $answer }}
      {{ $faqList = $faqList | append (dict
        "@type" "Question"
        "name" $question
        "acceptedAnswer" (dict
          "@type" "Answer"
          "text" $answer
        )
      ) }}
    {{ end }}
  {{ end }}

  {{ if gt (len $faqList) 0 }}
    {{ $schema := dict
      "@context" "https://schema.org"
      "@type" "FAQPage"
      "mainEntity" $faqList
    }}
<script type="application/ld+json">
{{ $schema | jsonify | safeJS }}
</script>
  {{ end }}
{{ end }}