{{ with .Params.faqs }}
{{ $faqList := slice }}

{{ range . }}
  {{ $match := findRESubmatch `^(.*?)(?:~{3}|/{3}|:{3}|\+{3})(.*)$` . }}
  {{ if $match }}
    {{ $item := index $match 0 }}
    {{ $rawQ := index $item 1 | strings.TrimSpace }}
    {{ $question := printf "%s?" (strings.TrimRight "?" $rawQ) }}
    {{ $answer := index $item 2 | strings.TrimSpace | plainify }}
    
    {{ $faqList = $faqList | append (dict 
      "@type" "Question" 
      "name" $question 
      "acceptedAnswer" (dict 
        "@type" "Answer" 
        "text" $answer
      )
    ) }}
  {{ end }}
{{ end }}

{{ if gt (len $faqList) 0 }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": {{ $faqList | jsonify }}
}
</script>
{{ end }}
{{ end }}